html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14px;
  background-color: #fff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  /*  滑块颜色 */
  background: #ccc;
  /*  滑块圆角 */
  border-radius: 4px;
}

div {
  box-sizing: border-box;
}
